h1 {
  text-align: left;;
  width:80%;
  color:green;
  font-family:sans-serif;
}

hr {
  background-color: blue;
}

h2 {
  color:blue;
  font-family:sans-serif;
}

.container {
    width:50%;
    height:200px;
    display: inline-block;
}

img {
  width:100%;
}
